<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tmaadminapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppModules.Administration.AdminStaffManagement.ComplaintsListForAdmin.AdminComplaintsPage"></activity>
        <activity android:name=".AppModules.UnionCouncilHead.UcMain" />
        <activity android:name=".AppModules.UnionCouncilHead.UnionCouncil" />
        <activity android:name=".AppModules.Administration.NewsFeedForAdmin.NewsFeedForAdmin" />
        <activity android:name=".AppModules.Administration.AdminStaffManagement.RegulationInStaffManagment.RegulationInStaffManagement" />
        <activity android:name=".AppModules.Administration.AdminStaffManagement.AppointAndRetireInStaffManagement.AppointAndRetireDetails" />
        <activity android:name=".AppModules.Administration.AdminStaffManagement.StaffManagementHome.StaffManagementHome" />
        <activity android:name=".AppModules.Administration.AdminStaffManagement.WorkerListInAdminPage.WorkersListActivityInAdmin" />
        <activity android:name=".AppModules.Administration.AdminStaffManagement.WorkerHeadList.WorkerHeadList" />
        <activity android:name=".AppModules.Administration.AdminHome.AdminHome" />
        <activity android:name=".AppModules.InfrastructureHead.BuildingNoc.BuildingNocActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AppModules.InfrastructureHead.InfraComplaints.InfraComplaints" />
        <activity android:name=".AppModules.InfrastructureHead.InfraWorkerList.WorkersListActivity" />
        <activity android:name=".AppModules.InfrastructureHead.InfraHome.InfraHome" />
        <activity android:name=".AppModules.SanitationHead.ComplaintFragements.CompletedComplaints.AddCompletedWorkOnComplaint" />
        <activity android:name=".AppModules.SanitationHead.SanitationComplaints.Complaints" />
        <activity android:name=".AppModules.SanitationHead.SanitationWorkers.WorkerDetailActivity" />
        <activity android:name=".AppModules.SanitationHead.SanitationWorkers.SanitationWorkerList" />
        <activity android:name=".AppModules.NewsFeed.NewsFeedActivity.NewsFeedActivity" />
        <activity android:name=".AppModules.SanitationHead.SanitationHome.SanitationMain" />
        <activity android:name=".AppModules.Login.LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>